
.book-sections--container,
.body-header--container {
  @include grid-container;
}

.main-content-header {
  @include grid-column(12);
  @include grid-container;
  margin-left: 0;
  margin-bottom: 1.8em;
  border-bottom: 2px solid lighten($type-base-color, 85%);
}

.main-content-header .featured-chapter--w-img,
.main-content-header .featured-chapter--w-o-img{
  @include grid-column(6);
  @include grid-push(3);

  margin-bottom: 2em;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.featured-chapter--w-img{
  figure {
    margin-bottom: 1.8em;
  }
}

$toc-layout: (
  columns: 3,
  gutter: 40px,
);

$toc-item-layout: (
  columns: 3,
  gutter: 40px,
);

.table-of-contents--container {
  @include grid-container;
  max-width: 1000px;
  margin: 0 auto;
}

.toc-cta--aside {
  @include grid-column(3, $toc-layout);
}

.toc-table--main {
  @include grid-column(3, $toc-layout);
}

.toc-table {
  @include grid-collapse($toc-item-layout);
  @include grid-container;
}

.toc-table-item {
  @include grid-column(1, $toc-item-layout);
}

//save for when you have content for the aside
// $toc-layout: (
//   columns: 3,
//   gutter: 40px,
// );
//
// $toc-item-layout: (
//   columns: 3,
//   gutter: 40px,
// );
//
// .table-of-contents--container {
//   @include grid-container;
//   max-width: 1000px;
//   margin: 0 auto;
// }
//
// .toc-cta--aside {
//   @include grid-column(1, $toc-layout);
// }
//
// .toc-table--main {
//   @include grid-column(2, $toc-layout);
// }
//
// .toc-table {
//   @include grid-collapse($toc-item-layout);
//   @include grid-container;
// }
//
// .toc-table-item {
//   @include grid-column(1, $toc-item-layout);
// }
