body{ background: $body-bg;}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-georgia;
  color: $type-base-color;
  font-weight: $type-base-weight;
}

h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5, h6 { font-size: 1.4em; }

p {
  font-family: $font-stack-hoefler-text;
  color: $type-text-color;
  font-size: 1.2em;
}

p a {
  font-size: inherit;
  color: $url-color;
  &:hover { color: lighten($url-color, 20%); }
}

time{
  font-family: $font-stack-hoefler-text;
}

h2.sub-head,
h3.sub-head,
h4.sub-head,
h5.sub-head,
h6.sub-head {
  font-family: $font-stack-helvetica;
  font-weight: 300;
  color: lighten($type-base-color, 20%);
}

.featured-chapter--w-img,
.featured-chapter--w-o-img {
  p {
    font-size: 1.6em;
  }
  .chapter-date-published,
  .display-headline{
    text-align: center;
    display: block;
    width: 100%;
  }

  .chapter-date-published{
    text-decoration: underline;
    font-size: 120%;
  }

  .display-headline a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color .5s ease;
    transition: border-color .5s ease;

    &:hover{
      color: $url-color;
      border-color: $url-color;
    }
  }
}

.toc-table--main {
  .display-headline {
    font-size: 120%;
    margin-bottom: .5em;
  }

  .chapter-date-published {
    text-decoration: underline;
    display: block;
    margin-bottom: .2em;
  }

  .toc-table-item p {
    font-size: 1em;
  }
}

.toc-cta--aside .rss-subscribe--ctrl {
  text-align: center;
}


