// Body
$body-bg: rgba(245, 245, 245, 1);

// Typography
//
//colors
$type-base-color: rgba(10, 10, 10, .8);
$type-text-color: rgba(0, 0, 0, .7);
$url-color: rgba(33, 150, 243, 1);

//typographic style
$type-base-weight: 400;
