<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <h1>lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h1>
    <h2>lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h2>
    <h2 class="sub-head">lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h2>
    <h3 class="sub-head">lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h3>
    <h4>lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h4>
    <h5>lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h5>
    <h6>lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. <a>Elementum</a> tempus egestas sed sed risus. Elementum sagittis vitae et leo duis ut diam quam. Tempor id eu nisl nunc mi ipsum. Diam quis enim lobortis scelerisque. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Integer vitae justo eget magna fermentum. Magna etiam tempor orci eu lobortis. Urna et pharetra pharetra massa massa. Aenean euismod elementum nisi quis eleifend quam adipiscing. Curabitur vitae nunc sed velit dignissim sodales ut. Eget mi proin sed libero enim sed faucibus. Nunc congue nisi vitae suscipit tellus mauris a. Neque volutpat ac tincidunt vitae semper.
    </p>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Elementum tempus egestas sed sed risus. Elementum sagittis vitae et leo duis ut diam quam. Tempor id eu nisl nunc mi ipsum. Diam quis enim lobortis scelerisque. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Integer vitae justo eget magna fermentum. Magna etiam tempor orci eu lobortis. Urna et pharetra pharetra massa massa. Aenean euismod elementum nisi quis eleifend quam adipiscing. Curabitur vitae nunc sed velit dignissim sodales ut. Eget mi proin sed libero enim sed faucibus. Nunc congue nisi vitae suscipit tellus mauris a. Neque volutpat ac tincidunt vitae semper.

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
